@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url(../img/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navigation {
  margin: 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 15px 45px 15px 45px;
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  margin-top: 5px;
}

.menu-icon .logo {
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: black;
  font-size: 22px;
}

.bold-text {
  margin-top: 40px;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 52px;
}

.b-text-1 {
  color: #172b4d;
}

.b-text-2 {
  color: #36b37e;
  margin-top: -30px;
}

.small-text {
  color: #172b4d;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  line-height: 28px;
  padding: 0 40px 0 40px;
}

.social-icons {
  display: flex;
  column-gap: 21px;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.social-icons li {
  list-style: none;
}

.social-icons .fa {
  color: #505f79;
  font-size: 22px;
}

.scroll {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-circle .fa {
  color: black;
  font-size: 22px;
}

.scroll-circle img {
  height: auto;
  width: 50px;
}

/** WORK SECTION **/

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-title {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.work-title h1 {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 10px;
}

.work-title-line {
  height: 4px;
  width: 48px;
  background-color: #36b37e;
  border-radius: 24px;
}

.work-card {
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  margin: 50px 0 0 0;
  border: 1px solid #d0d9d4;
}

.work-section ul {
  padding: 0;
}

.work-card li {
  list-style: none;
}

.work-card-cont {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
}

.work-card-info {
  background-color: #fff;
  width: 327px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.word-card-img {
  min-height: 252px;
}

.work-card-info h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.work-card-pr-lang {
  display: flex;
  padding: 0;
  column-gap: 8px;
  margin: 0 0 30px 0;
}

.work-card-pr-lang li {
  list-style: none;
  padding: 8px 12px;
  border-radius: 2px;
  background-color: #ebf0ee;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #3a4a42;
}

.work-card-info button {
  background-color: #36b37f;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin: 0 0 30px 0;
}

/** ABOUT SECTION **/

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 0;
}

.about-title {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: #172b4d;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-content p {
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding: 0 25px 0 25px;
}

.about-content button {
  background-color: #36b37f;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin: 20px 0 30px 0;
}

.about-section ul {
  padding: 0;
}

.about-card-cont {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
}

.about-card li {
  list-style: none;
}

.about-card {
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 20px 0;
  border: 1px solid #c1c7d0;
}

.about-card-logo-1 {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 54px 0;
}

.about-card-logo-2 {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 54px 0;
}

.about-card-logo-2 img {
  padding: 16px;
}

.about-card-logo-3 {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 54px 0;
}

.about-card-logo-3 img {
  padding: 16px;
}

.about-card h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin: 20px 0 30px 0;
}

.about-card-pr-lang {
  padding: 0;
  gap: 8px 8px;
  margin: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card-pr-lang li {
  list-style: none;
  padding: 12px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #36b37e;
}

/** HOVER EFFECTS **/

.work-card-info button:hover,
.about-content button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.work-card-info button:active,
.about-content button:active {
  background-color: #008552;
}
