@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url(../img/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navigation {
  margin: 0;
}

.mobile-menu {
  list-style: none;
  margin: 22px 36px 0 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.desktop-menu {
  display: none;
}

.menu-btn .fa-bars {
  font-size: 25px;
}

.menu-icon .logo {
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: black;
  font-size: 22px;
}

.bold-text {
  margin-top: 30px;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 52px;
}

.b-text-1 {
  color: #172b4d;
}

.b-text-2 {
  color: #36b37e;
  margin-top: -30px;
}

.small-text {
  color: #172b4d;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  line-height: 28px;
  padding: 0 24px 0 24px;
}

.social-icons {
  display: flex;
  column-gap: 21px;
  justify-content: center;
  margin-top: 40px;
  padding-left: 0;
  animation: fadeIn 2s;
}

.social-icons li {
  list-style: none;
}

.social-icons .fa {
  color: #505f79;
  font-size: 22px;
}

.scroll {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-circle {
  width: 40px;
  height: 40px;
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-circle .fa {
  color: black;
  font-size: 22px;
}

/** WORK SECTION **/

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-title {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.work-title h2 {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 10px;
  color: #172b4d;
  padding: 0 20px;
}

.work-title-line {
  height: 4px;
  width: 48px;
  background-color: #36b37e;
  border-radius: 24px;
}

.work-card {
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  margin: 50px 0 0 0;
  border: 1px solid #d0d9d4;
  transition: box-shadow 0.5s;
}

.work-section ul {
  padding: 0;
}

.work-card li {
  list-style: none;
}

.work-card-cont {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
}

.work-card-info {
  background-color: #fff;
  width: 327px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.word-card-img {
  min-height: 252px;
}

.work-card-info h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.work-card-pr-lang {
  display: flex;
  padding: 0;
  column-gap: 8px;
  margin: 0 0 30px 0;
}

.work-card-pr-lang li {
  list-style: none;
  padding: 8px 12px;
  border-radius: 2px;
  background-color: #ebf0ee;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #3a4a42;
}

.work-card-info button {
  background-color: #36b37f;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin: 0 0 30px 0;
}

/** ABOUT SECTION **/

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 0;
}

.about-title {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: #172b4d;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding: 0 25px 0 25px;
}

.about-content button {
  background-color: #36b37f;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin: 20px 0 30px 0;
}

.about-section ul {
  padding: 0;
}

.about-card-cont {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
}

.about-card li {
  list-style: none;
}

.about-card {
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 20px 0;
  border: 1px solid #c1c7d0;
  transition: box-shadow 0.5s;
}

.about-card-logo-1 {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 54px 0;
}

.about-card-logo-2 {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 54px 0;
}

.about-card-logo-2 img {
  padding: 16px;
}

.about-card-logo-3 {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 54px 0;
}

.about-card-logo-3 img {
  padding: 16px;
}

.about-card h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin: 20px 0 30px 0;
}

.about-card-pr-lang {
  padding: 0;
  gap: 8px 8px;
  margin: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card-pr-lang li {
  list-style: none;
  padding: 12px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #36b37e;
}

/** CONTACT SECTION **/

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  padding: 0 24px;
  color: #172b4d;
}

.contact-box-bg {
  background-image: url(../img/contact-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 260px;
}

.contact-box {
  width: 100%;
}

.contact-form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contact-form-list li {
  padding: 12px 0 12px 0;
}

.input-boxes {
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  padding: 0 0 0 15px;
}

textarea {
  font-family: 'Inter', sans-serif;
  padding: 12px 0 0 12px;
  color: #091e42;
  width: 327px;
  height: 114px;
  border: 1px solid #60c095;
  border-radius: 4px;
}

textarea::placeholder {
  color: #091e42;
}

.contact-form-list button {
  background-color: #36b37f;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

.footer-icons {
  margin-top: 30px;
}

.footer-email {
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
}

/** HOVER EFFECTS **/

.work-card-info button:hover,
.about-content button:hover,
.contact-form-list button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.work-card-info button:active,
.about-content button:active,
.contact-form-list button:active {
  background-color: #008552;
}

.work-card:hover {
  box-shadow: 1px 2px 10px grey;
}

.about-card:hover {
  box-shadow: 1px 2px 10px grey;
}

@media (min-width: 768px) {
  .desktop-menu {
    list-style: none;
    margin: 22px 36px 0 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .desktop-menu li a {
    color: #3a4a42;
  }

  .mobile-menu {
    display: none;
  }

  .hero {
    background-image: url(../img/header-llustration-desktop@2x.png);
  }

  .bold-text {
    margin-top: 100px;
  }

  .small-text {
    margin-top: 24px;
    padding: 0 200px 0 200px;
  }

  .social-icons {
    margin-top: 30px;
  }

  .work-card-cont {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .about-content p {
    padding: 0 180px 0 180px;
  }

  .about-content {
    background-image: url(../img/illustration-about-me-desktop.png);
  }

  .about-card-cont {
    grid-template-columns: 1fr 1fr;
  }

  .contact-section {
    flex-direction: row;
    margin: 100px 0;
    background-image: url(../img/illustration-contact-me-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .contact-form-list li {
    width: 100%;
  }

  .contact-text {
    padding: 0 20px 0 80px;
    font-size: 30px;
  }

  .contact-box {
    padding: 0 80px 0 20px;
  }

  .contact-box-bg {
    background: none;
  }

  .input-boxes {
    width: 100%;
    height: 48px;
    padding: 0 0 0 15px;
  }

  textarea {
    width: 100%;
  }

  .contact-form-list button {
    padding: 12px 12px;
  }

  .footer-email {
    display: none;
  }

  .footer-icons {
    margin: 0;
    padding: 20px 0;
  }

  footer {
    border-top: 1px solid #dfe1e6;
  }
}

@media (min-width: 1080px) {
  .bold-text {
    margin-top: 186px;
  }

  .small-text {
    padding: 0 260px 0 260px;
  }

  .work-card-cont {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }

  .about-card-cont {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-text {
    padding: 0 20px 0 134px;
    font-size: 30px;
  }

  .contact-box {
    padding: 0 134px 0 20px;
  }
}

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
  z-index: 2;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}

.mobile-toggler {
  height: 95vh;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-display {
  left: -100%;
}

.mobile-toggler-btn {
  padding-top: 20px;
}

.mobile-toggler .fa-xmark {
  font-size: 25px;
  color: #67798e;
  float: right;
  padding: 0 38px 0 0;
}

.mobile-toggler ul {
  padding: 0;
}

.mobile-toggler li {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  padding: 20px 0 20px 28px;
}

.mobile-toggler li a {
  color: #3a4a42;
}
